@charset "utf-8"

@import "utilities/initial-variables"

$navbar-breakpoint: 0

@import "utilities/_all"
@import "base/_all"
@import "elements/_all"
@import "components/_all"
@import "layout/_all"
@import "grid/_all"
@import "form/_all"
@import "extensions/switch"

@import "octicons/octicons.min.css"
@import "notosans/notosans.min.css"

/* Basic Config */

html, body, section.section, .container
  width: 100%
  font-family: 'Noto Sans'

.section
  +touch
    padding: 1rem

/* Calendar Styles */

div#calendar
  border: 1px solid #dbdbdb

  div.calendar-head
    background-color: $light

    div.calendar-title-row
      div.tile
        padding: 0.25rem

      div#calendar-controls, div#calendar-preferences
        +mobile
          display: none

      div.calendar-title-cell
        +mobile
          width: 100%

        h1.calendar-title
          @extend .is-4
          @extend .title
          text-align: center

    div.calendar-dow-row
      border-top: 1px solid #dbdbdb

      div[class^="calendar-dow-cell"]
        border-right: 1px solid #dbdbdb
        padding: 0.25rem

        &:last-child
          border-right: 0px

        .dow-name-long
          +mobile
            display: none

        .dow-name-short
          +tablet
            display: none
  
  div.calendar-body

    div[class^="calendar-cell"]:not(.calendar-cell-inner)
      border-top: 1px solid #dbdbdb
      border-right: 1px solid #dbdbdb
      height: 4.75rem
      padding: 0.25rem

      &:last-child
        border-right: 0px

      &.calendar-cell-is-diff-month
        color: $grey-light
        background-color: $white-bis
      
      &.calendar-cell-is-today
        background: $info-light
        color: $info
      
      div.calendar-cell-inner
        position: relative

        span[class$='-month-long']
          +touch
            display: none

        span[class$='-month-short']
          +desktop
            display: none

        span[class^='label-ethiopian']
          font-size: 1.2em
          position: absolute
          top: 0px

          &[class$='-date']
            right: 0px

          &[class*='-month-']
            left: 0px

          +touch
            font-size: 1em

        span[class^='label-gregorian']
          font-size: 0.8em
          position: absolute
          bottom: 0px

          &[class$='-date']
            left: 0px

          &[class*='-month-']
            right: 0px

          +touch
            font-size: 0.7em
          
          +mobile
            font-size: 0.6em

span.octicon
  font-size: inherit

/* App Styles */

.panel .panel-block
  padding-left: calc(0.75em + 16px)
  display: block

  .octicon
    font-size: 1.2rem
    line-height: 1.5rem
    display: none

  &.is-active
    background-color: $success
    color: $white
    .octicon
      display: inline

.menu 
  .menu-list > li > a:hover
    background-color: inherit
    color: inherit
    cursor: default

  a
    .octicon
      display: none

    &.is-active
      background-color: $success

      .octicon
        display: inline-block

.navbar.is-light
  border-top: 1px solid #dbdbdb