@charset "utf-8"

@import "utilities/initial-variables"

$navbar-breakpoint: 0
$tablet: 768px
$panel-shadow: 0

@import "utilities/_all"
@import "base/_all"
@import "elements/_all"
@import "components/_all"
@import "layout/_all"
@import "grid/_all"
@import "form/_all"
@import "extensions/switch"

@import "octicons/octicons.min.css"
@import "notosans/notosans.min.css"

/* Basic Config */

html, body, section.section, .container
  width: 100%
  font-family: 'Noto Sans', Arial, sans-serif
  overscroll-behavior: none // prevents elastic scrolling in some browsers
  touch-action: manipulation // prevents double tap to zoom on mobile

body
  +mobile
    padding-bottom: 3.25rem

section.section
  +touch
    padding: 1rem

/* Calendar Styles */

div#calendar

  div.calendar-head

    div.calendar-title-row
      div.tile
        padding: 0.25rem

        &.is-parent
          +tablet
            border-top: 1px solid #dbdbdb

            &:first-child
              border-left: 1px solid #dbdbdb
            
            &:last-child
              border-right: 1px solid #dbdbdb

      div#calendar-controls, div#calendar-preferences
        +mobile
          display: none

      div.calendar-title-cell
        +mobile
          width: 100%

        h1.calendar-title
          @extend .is-4
          @extend .title
          text-align: center

    div.calendar-dow-row

      div[class^="calendar-dow-cell"]:not(.calendar-dow-cell-inner)
        padding: 0.25rem
        border-top: 1px solid #dbdbdb

        +tablet
          border-left: 1px solid #dbdbdb

          &:last-child
            border-right: 1px solid #dbdbdb

        +mobile
          padding: 0

        .dow-name-long
          +mobile
            display: none

        .dow-name-short
          font-size: 0.8em

          +tablet
            display: none
  
  div.calendar-body
    div[class^="calendar-row"]
    
      div[class^="calendar-cell"]:not(.calendar-cell-inner)        
        height: 4.75rem
        padding: 0.25rem
        border-top: 1px solid #dbdbdb

        +mobile
          height: 3.75rem

        +tablet
          border-left: 1px solid #dbdbdb
          
          &:last-child
            border-right: 1px solid #dbdbdb
        
        &[class^="calendar-cell-5"] //the last row
          +tablet
            border-bottom: 1px solid #dbdbdb
        
        div.calendar-cell-inner
          position: relative

          // hiding
          span[class$='-month-long']
            +touch
              display: none

          span[class$='-month-short']
            +desktop
              display: none
            +mobile
              display: none

          span[class$='-month-narrow']
            +tablet
              display: none

          span[class^='label-ethiopic']
            font-size: 1.2em

            +touch
              font-size: 1em

            &[class*='-month']
              +mobile
                display: none
            
            // positioning
            +tablet
              position: absolute
              top: 0px

              &[class$='-date']
                right: 0px

              &[class*='-month']
                left: 0px
            
            +mobile
              display: block
              width: 100%
              text-align: center

          span[class^='label-alternate']
            font-size: 0.8em

            +touch
              font-size: 0.7em
            
            +mobile
              font-size: 0.6em

            // positioning
            +tablet
              position: absolute
              bottom: 0px

              &[class$='-date']
                left: 0px

              &[class*='-month']
                right: 0px

            +mobile
              display: block
              width: 100%
              text-align: center

        &.is-different-month[data-ethiopic-date="1"] div.calendar-cell-inner
          span.label-ethiopic-date
            +mobile
              display: none
          
          span.label-ethiopic-month-narrow
            +mobile
              display: block

        &[data-alternate-date="1"] div.calendar-cell-inner
          span.label-alternate-date, span.label-alternate-month-long, span.label-alternate-month-short
            +mobile
              display: none

        &:not([data-alternate-date="1"]) div.calendar-cell-inner
          span[class^="label-alternate-month"]
            +mobile
              display: none

span.octicon
  font-size: inherit

/* App Styles */

.panel .panel-block
  padding-left: calc(0.75em + 16px)
  display: block

  .octicon
    font-size: 1.2rem
    line-height: 1.5rem
    display: none

  &.is-active
    background-color: $success
    color: $white
    .octicon
      display: inline

.menu 
  .menu-list > li > a:hover
    background-color: inherit
    color: inherit
    cursor: default

  a
    .octicon
      display: none

    &.is-active
      background-color: $success

      .octicon
        display: inline-block

div.buttons a.button.is-dark.is-outlined
  &:hover
    @media (hover: none) // prevents hover bg color change on touchscreens
      background-color: inherit
      color: inherit

nav.navbar.is-light
  border-top: 1px solid #dbdbdb

  .navbar-start, .navbar-end

    a.navbar-item
      padding: 0.5rem 0.5rem

      &:hover
        @media (hover: none) // prevents hover bg color change on touchscreens
          background-color: inherit


/* Theme colours */

body
  transition: color 0.5s, background-color 0.5s
  min-height: 100vh

/* Light/Default */

div#calendar
  div.calendar-head
    background-color: $light

  div.calendar-body
    div.is-different-month
      color: $grey-light

      +tablet
        background-color: $white-bis
        
    div.is-today
      color: $info

      +tablet
        background: $info-light

/* Dark */

body.dark-theme
  background-color: $black-ter
  color: $light

  div#calendar
    div.calendar-head
      div, h1 span
        background-color: $grey-darker
        color: $white-bis

      a.button.is-dark, .input.is-dark, .select.is-dark
        @extend .is-light

      input.input.is-dark, .select.is-dark select
        background-color: $grey-dark
        color: $white-bis

      .select.is-dark::after
        border-color: $white-bis

    div.calendar-body
      div[class^="calendar-row"]
    
        div[class^="calendar-cell"]:not(.calendar-cell-inner)
          &.is-different-month
            color: $white-bis

            +mobile
              color: $grey-dark

            +tablet
              background-color: $grey-dark
              
          &.is-today
            color: $info-light

            +mobile
              color: $info

            +tablet
              background: $info-dark

  nav.navbar.is-light
    @extend .is-dark

    .navbar-start, .navbar-end
      a.navbar-item:hover
        @media (hover: none) // prevents hover bg color change on touchscreens
          background-color: inherit