@charset "utf-8"

@import "utilities/initial-variables"

@import "utilities/_all"
@import "base/_all"
@import "elements/_all"
@import "layout/_all"

@import "octicons/octicons.min.css"
@import "notosans/notosans.min.css"

html, body, section.section, .container, .calendar
  height: 100%
  width: 100%
  font-family: 'Noto Sans'
  
  +mobile
    padding: 0
    margin: 0

body
  +tablet
    min-height: 475px

.section
  +touch
    padding: 1rem

.calendar
  +mobile
    font-size: 0.8rem
    height: auto

    td, th
      padding: 0.3em 0.5em
      border: 0

    thead tr th
      font-weight: normal
      background-color: transparent

      span
        display: none

  thead th
    text-align: center
    background-color: $light
    +mobile
      border-bottom: 1px solid #dbdbdb

  tbody tr[id^='calendar-row'] td
    position: relative
    width: calc(100% / 7)

    &[colspan='7']
      border-color: white

    &.today
      background-color: lighten($info, 20%)
      
      +mobile
        span.gdate
          color: $white-bis !important

    &.outside
      color: $grey-light

      +desktop
        background-color: $white-bis

    span[class$='date'], span[class$='month']
      position: absolute
      padding: 5px
      
      &[class$='date']
        +mobile
          width: 100%
          text-align: center
          position: static
          display: block

        &.edate
          top: 0px
          right: 0px

        &.gdate
          bottom: 0px
          left: 0px
          +mobile
            color: $grey-light

      &.emonth
        top: 0px
        left: 0px

        +mobile
          display: none

      &.gmonth
        bottom: 0px
        right: 0px

        +mobile
          display: none

      &[class^='g']
        font-size: 0.85rem
      
      &[class^='e']
        font-size: 1.15rem

[id$='-overlay']
  z-index: 100
  position: absolute
  top: 0
  left: 0
  background-color: rgba(255, 255, 255, 0.9)
  display: none
  min-height: 475px

#mobile-controls
  display: none
  padding: 1rem
  border-top: 1px solid #dbdbdb
  width: 100%
  position: fixed
  bottom: 0px
  height: 75px

  a[id$='-month-mobile']
    padding-right: 0.25em

  +mobile
    display: block

  #mobile-controls-spacer
    height: 75px
    display: none

    +mobile
      display: block

h1 a:not([class*='button'])
  color: inherit

label[for]
  cursor: pointer

span.octicon
  font-size: inherit