@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: url(NotoSansEthiopic-Regular.eot);
  src: url(NotoSansEthiopic-Regular.eot?#iefix) format('embedded-opentype'),
       url(NotoSansEthiopic-Regular.woff2) format('woff2'),
       url(NotoSansEthiopic-Regular.woff) format('woff');
}
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  src: url(NotoSansEthiopic-Bold.eot);
  src: url(NotoSansEthiopic-Bold.eot?#iefix) format('embedded-opentype'),
       url(NotoSansEthiopic-Bold.woff2) format('woff2'),
       url(NotoSansEthiopic-Bold.woff) format('woff');
}

